<!--<ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">-->
<!--  <ng-template ngbSlide *ngFor="let mainSliderFilm of mainSliderFilms" class="header__slider">-->
<!--    <div class="picsum-img-wrapper">-->
<!--      <img [src]="mainSliderFilm.poster" alt="headerSliderFilm.title" class="header__slider-img">-->
<!--    </div>-->
<!--    <div class="carousel-caption header__slider-content  container">-->
<!--      <div class="header__slider-genre-wrap">-->
<!--        <p class="header__slider-genre" *ngFor="let item of mainSliderFilm.genres | keyvalue">{{ item.value }} <span>|</span></p>-->
<!--      </div>-->
<!--      <p class="header__slider-title">{{ mainSliderFilm.title }}</p>-->
<!--      <p class="header__slider-text">{{ mainSliderFilm.description }}</p>-->
<!--      <div class="header__slider-wrap">-->
<!--        <p class="header__slider-rate">{{ mainSliderFilm.rate }}</p>-->
<!--        <p class="header__slider-release">{{ mainSliderFilm.release }}</p>-->
<!--        <p class="header__slider-age">{{ mainSliderFilm.age }}</p>-->
<!--      </div>-->
<!--      <div class="header__slider-btns-wrap">-->
<!--        <button type="button" class="header__slider-btn-watch">{{ mainSliderFilm.buttonWatch }}</button>-->
<!--        <button type="button" class="header__slider-btn-like">{{ mainSliderFilm.buttonLike }}</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</ngb-carousel>-->
