@import '../../../styles/mixins';

.header__slider {
  &-img {
    position: relative;
    width: 100%;
    height: 812px;
    filter: brightness(40%);

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color:rgba(0, 0, 0, .5);
    }
  }

  &-content {
    left: 10%;
    bottom: 50%;
    transform: translate(-10%, 50%);
    text-align: left;
  }

  &-genre-wrap {
    display: flex;
    margin: 0 0 16px;
  }

  &-genre {
    display: flex;
    margin: 0;
    @include font-rubik(300, 16px, 1.3, rgba(191, 191, 191, 1));
    & span {
      color: rgba(255, 255, 255, 1);
    }
    &:nth-child(3) span {
      display: none;
    }
  }

  &-title {
    @include font-rubik(700, 70px, 1.1, rgba(255, 255, 255, 1));
  }

  &-text {
    max-width: 530px;
    margin: 0 0 22px;
    @include font-rubik(300, 18px, 1.6, rgba(255, 255, 255, 1));
    text-align: left;
  }

  &-wrap {
    @include flex(flex, center, false);
    margin: 0 0 34px;
  }

  &-rate {
    margin: 0 22px 0 0;
  }

  &-release {
    margin: 0 22px 0 0;
  }

  &-age {
    margin: 0;
    padding: 4px 8px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 6px;
  }

  &-btns-wrap {
    @include flex(flex, center, false);
  }

  &-btn-watch {
    padding: 16px 32px;
    margin: 0 32px 0 0;
    @include font-rubik(400, 24px, 1.3, rgba(255, 255, 255, 1));
    background: linear-gradient(90deg, rgba(140, 7, 60, 1) 46.67%, rgba(168, 6, 56, 1) 102.8%);
    border-radius: 20px;
  }

  &-btn-like {
    padding: 16px 32px;
    margin: 0 32px 0 0;
    @include font-rubik(400, 24px, 1.3, rgba(255, 255, 255, 1));
    background: transparent;
    border: 1px solid rgba(140, 7, 60, 1);
    border-radius: 20px;
  }
}
