<footer class="footer">
  <div class="container">
    <a href="#">
      <img src="../../assets/images/logo.svg" alt="Mix Movie" class="footer__logo">
    </a>
    <ul class="footer__list">
      <li class="footer__list-item"><a routerLink="/main">Головна</a></li>
      <li class="footer__list-item"><a routerLink="/movie">Фільми</a></li>
      <li class="footer__list-item"><a routerLink="/tv">Серіали</a></li>
      <li class="footer__list-item"><a routerLink="/favourites">Обране</a></li>
    </ul>
    <div class="footer__socials">
      <p class="footer__socials-title">Ми в соцмережах</p>
      <ul class="footer__socials-list">
        <li class="footer__socials-item">
          <a href="#">
            <img src="../../assets/images/footer/youtube.svg" alt="">
          </a>
        </li>
        <li class="footer__socials-item">
          <a href="#">
            <img src="../../assets/images/footer/facebook.svg" alt="">
          </a>
        </li>
        <li class="footer__socials-item">
          <a href="#">
            <img src="../../assets/images/footer/insta.svg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
