<!--Input-->
<form class="form" #searchForm="ngForm">
  <input
    class="form__input"
    type="text"
    name="query"
    placeholder="Пошук..."
    [(ngModel)]="query"
    (ngModelChange)="search()"
  >
  <p class="form__input-error" *ngIf="isSymbol">Некоректний запит!</p>
</form>

<!--Searched list-->
<div *ngIf="films && !filmClicked && query && !isSymbol">
  <ul class="form__list">
    <li
      class="form__list-item"
      *ngFor="let film of films"
      (click)="onLoadFilm(film.id, searchForm, film.media_type)"
    >
      <img
        class="form__list-item-img"
        src="https://image.tmdb.org/t/p/w500/{{ film.poster_path }}" alt="poster"
      >
      <h5 class="form__list-item-title">{{ film.title || film.name }}</h5>
    </li>
  </ul>
</div>





