<main class="main">
  <div class="container-sliders">
    <!--Popular films-->
    <h2 class="main__category-title">Популярні</h2>
    <app-sliders [films]="films" [media_type]="media_type_popular" [routeType]="routeType"></app-sliders>
    <!--Top films-->
    <h2 class="main__category-title">ТОП фільмів</h2>
    <app-sliders [films]="films" [media_type]="media_type_top" [routeType]="routeType"></app-sliders>
    <!--Watch now films-->
    <h2 class="main__category-title">Зараз дивляться</h2>
    <app-sliders [films]="films" [media_type]="media_type_now_playing" [routeType]="routeType"></app-sliders>
    <!--Soon films-->
    <h2 class="main__category-title">В очікуванні</h2>
    <app-sliders [films]="films" [media_type]="media_type_upcoming" [routeType]="routeType"></app-sliders>

  </div>
  <div class="container">
    <h3 class="main__description-title">Дивитися фільми в HD онлайн</h3>
    <p class="main__description-text">Чим себе зайняти після важких трудових буднів? Повсякденне життя пропонує безліч варіантів, але практично кожна людина на нашій планеті любить переглядати улюблені кінокартини. Ми створили зручний та унікальний у своєму роді кінотеатр для перегляду відео в комфортних для тебе умовах. Тобі більше ніколи не доведеться шукати якусь вільну хвилинку, щоб знайти потрібні кінотеатри, встигнути купити в касі або забронювати через інтернет квитки на улюблені місця. Все це залишилося позаду великих перспектив дивитися фільми онлайн у високій HD якості на нашому сайті. Дорогий гість ресурсу, пропонуємо тобі прямо зараз поринути у дивовижно захоплюючий світ – новинки кінопрокату доступні всім користувачам цілодобово! </p>
    <h3 class="main__description-title">Серіали онлайн</h3>
    <p class="main__description-text">Що ж до пропонованого списку фільмів і серіалів, які ти можеш тут дивитися в HD якості, то він постійно розширюється і доповнюється картинами найпопулярніших хітів Голлівуду. Словом, кожен шанувальник високоякісного світового кінематографа обов'язково знайде на нашому сайті те, що йому принесе море задоволення від перегляду онлайн у домашніх умовах! Клич друзів, і ти чудово проведеш час разом з близькими та рідними людьми – наш ресурс стане чудовим акомпанементом для твого розслабленого та веселого відпочинку!</p>
  </div>
</main>
