<div class="slide" (click)="onLoadFilm(film.id)">
  <div class="slide__img-wrap">
    <img src="https://image.tmdb.org/t/p/w500/{{ film.poster_path }}" alt="{{ media_type === 'movie' ? film.title : film.name }}" class="slide__img">
    <img
      src="./assets/images/icons/favourite-icon.svg"
      class="slide__favourite"
      *ngIf="isAuthenticated"
      (click)="addToFavourites($event, film)"
      [class.is-hidden]="isFilmInFavourites(film)"
      (mouseover)="onMouseOver($event)"
      (mouseout)="onMouseOut($event)"
    >
    <!--Favourite icon active-->
    <img
      src="./assets/images/icons/favourite-icon-active.svg"
      class="slide__favourite--active"
      *ngIf="isAuthenticated"
      [class.is-hidden]="!isFilmInFavourites(film)"
    >
  </div>
  <p class="slide__title">{{ media_type === 'movie' ? film.title : film.name }}</p>
  <div class="slide__rate">
    <p class="slide__rate-num">{{ film.vote_average }}</p>
    <p class="slide__rate-text">IMDb</p>
  </div>
</div>
